@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Loading spinner */
.loading {
  background: #9356dc;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: 99999;
  animation: loading_hidden 0s ease-in 1s;
  animation-fill-mode: forwards;
}
.loading .loading_spin {
  animation: 1s linear infinite loading;
  animation-play-state: inherit;
  border: 10px solid #fff;
  border-bottom-color: #9356dc;
  border-radius: 50%;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 60px;
  height: 60px;
  will-change: transform;
}

@keyframes loading {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
@keyframes loading_hidden {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header-navigation-arrow {
  position: absolute;
  margin: 0;
  left: 20px;
  color: #353535;
}
.header .header-navigation {
  position: relative;
  z-index: 999;
  padding: 18px 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
  width: 100%;
}
.header .header-navigation .header-image {
  width: 150px;
}
.header .header-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e9e9e9;
  padding: 16px 0;
}
.header .header-location .header-location-icon {
  margin-right: 16px;
  font-size: 18px;
  color: #353535;
}
.header .header-location .header-location-label {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
}
.header .header-brand {
  display: flex;
  padding: 48px 0 58px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #f6f6f6;
}
.header .header-brand .header-brand-title {
  font-size: 24px;
  color: black;
  margin: 0 0 14px 0;
  width: 250px;
}
.header .header-brand .header-brand-body {
  color: black;
  margin: 0;
  font-weight: 300;
  width: 350px;
}
.header .header-brand .header-brand-button {
  display: inline-block;
  color: white;
  background: linear-gradient(0.5turn, #ff79da, #9356dc);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
  text-decoration: none;
  margin: 0;
  margin-top: 24px;
  padding: 14px 20px;
  border-radius: 50px;
}
.header .header-brand .header-brand-button:hover {
  transition: filter 0.2s;
  filter: contrast(150%);
}

/* Section Functioning */
.functioning,
.restaurants {
  font-family: "Roboto", sans-serif;
  padding: 48px 16px;
}

.functioning-title,
.restaurants-title {
  font-size: 24px;
  margin: 0 0 24px;
}

.functioning-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 8px;
}

.functioning-card {
  width: 100%;
  text-decoration: none;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  border-radius: 16px;
  box-shadow: 0px 8px 10px 0px rgba(128, 128, 128, 0.24);
}
.functioning-card::before {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 0);
  color: white;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.functioning-card:nth-child(1)::before {
  content: "1";
}
.functioning-card:nth-child(2)::before {
  content: "2";
}
.functioning-card:nth-child(3)::before {
  content: "3";
}
.functioning-card:hover {
  background-color: #f5edff;
}
.functioning-card:hover .functioning-card-icon {
  color: #9356dc;
}
.functioning-card .functioning-card-icon {
  text-align: center;
  color: gray;
  font-size: 20px;
  flex: 1;
}
.functioning-card .functioning-card-body {
  color: black;
  font-weight: 500;
  flex: 6;
  margin-left: 16px;
}

/* Section Restaurants */
.restaurants {
  background-color: #f6f6f6;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.restaurants-cards .restaurants-card {
  position: relative;
  width: 100%;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 10px 0px #b1b1b1;
  z-index: 997;
  transition: filter 0.2s, transform 0.2s;
}
.restaurants-cards .restaurants-card:hover {
  transition: filter 0.2s, transform 0.2s;
  transform: scale(1.02);
  filter: contrast(110%);
}
.restaurants-cards .restaurants-card .restaurants-card-new {
  color: #008766;
  background-color: #99e2d0;
  font-size: 14px;
  padding: 7px 14px;
  position: absolute;
  border-radius: 2px;
  font-weight: 500;
  top: 15px;
  right: 15px;
}
.restaurants-cards .restaurants-card:nth-child(2) > .restaurants-card-image {
  object-position: center;
}
.restaurants-cards .restaurants-card .restaurants-card-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: bottom;
  height: 175px;
}
.restaurants-cards .restaurants-card .restaurants-card-content {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}
.restaurants-cards .restaurants-card .restaurants-card-content .restaurants-card-content-body {
  display: flex;
  flex-direction: column;
}
.restaurants-cards .restaurants-card .restaurants-card-content .restaurants-card-content-body .restaurants-card-content-body-title {
  margin: 0 0 4px 0;
  font-size: 18px;
}
.restaurants-cards .restaurants-card .restaurants-card-content .restaurants-card-content-body .restaurants-card-content-body-location {
  margin: 0;
  font-weight: 300;
}
.restaurants-cards .restaurants-card .restaurants-card-content .restaurants-card-content-button {
  cursor: pointer;
  z-index: 998;
  border: none;
  background-color: transparent;
}
.restaurants-cards .restaurants-card .restaurants-card-content .restaurants-card-content-button:hover .restaurants-card-content-icon::before, .restaurants-cards .restaurants-card .restaurants-card-content .restaurants-card-content-button:focus .restaurants-card-content-icon::before {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: bold;
  color: red;
  font-size: 24px;
  transition: color 0.1s;
}
.restaurants-cards .restaurants-card .restaurants-card-content .restaurants-card-content-button .restaurants-card-content-icon {
  font-size: 24px;
  transition: color 0.5s;
}

/* Footer */
.footer {
  background-color: #353535;
  padding: 24px 16px 32px;
}
.footer .footer-title {
  font-family: "Shrikhand", cursive;
  color: white;
  font-weight: 500;
  margin: 0 0 16px;
  font-size: 18px;
}
.footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .footer-links .footer-link {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  transition: text-decoration 0.2s;
}
.footer .footer-links .footer-link:nth-child(-n+2) {
  font-weight: 500;
}
.footer .footer-links .footer-link:nth-child(1) > i {
  margin-right: 10px;
}
.footer .footer-links .footer-link:nth-child(2) > i {
  margin-right: 4px;
}
.footer .footer-links .footer-link i {
  font-size: 12px;
}
.footer .footer-links .footer-link:hover {
  transition: text-decoration 0.2s;
  text-decoration: underline;
}

/* Menu */
.menu {
  background-color: #e9e9e9;
}
.menu .menu-background-image {
  width: 100%;
  height: 266px;
  object-fit: cover;
}
.menu .menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 18px;
  border-radius: 32px 32px 0 0;
  background-color: #e9e9e9;
  transform: translate(0, -50px);
}
.menu .menu-container .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu .menu-container .menu-header .menu-header-title {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  font-weight: 300;
}
.menu .menu-container .menu-header .menu-header-like-button {
  background-color: transparent;
  margin-right: 16px;
  padding: 0;
  border: none;
  cursor: pointer;
}
.menu .menu-container .menu-header .menu-header-like-button:hover .menu-header-icon::before, .menu .menu-container .menu-header .menu-header-like-button:focus .menu-header-icon::before {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: bold;
  color: red;
  font-size: 24px;
  transition: color 0.1s;
}
.menu .menu-container .menu-header .menu-header-like-button .menu-header-icon {
  font-size: 24px;
  transition: color 0.5s;
}
.menu .menu-container .menu-part {
  margin-bottom: 32px;
}
.menu .menu-container .menu-part .menu-part-title {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  position: relative;
  margin-bottom: 24px;
}
.menu .menu-container .menu-part .menu-part-title::after {
  position: absolute;
  width: 40px;
  height: 3px;
  left: 0;
  top: 140%;
  background-color: #99e2d0;
  content: "";
}
.menu .menu-container .menu-part .menu-part-content-card {
  opacity: 0;
}
.menu .menu-container .menu-part .menu-part-content-card:nth-child(1) {
  opacity: 0;
  animation: fadeInShow ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.1s;
}
.menu .menu-container .menu-part .menu-part-content-card {
  opacity: 0;
}
.menu .menu-container .menu-part .menu-part-content-card:nth-child(2) {
  opacity: 0;
  animation: fadeInShow ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.2s;
}
.menu .menu-container .menu-part .menu-part-content-card {
  opacity: 0;
}
.menu .menu-container .menu-part .menu-part-content-card:nth-child(3) {
  opacity: 0;
  animation: fadeInShow ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.3s;
}
.menu .menu-container .menu-part .menu-part-content-card {
  opacity: 0;
}
.menu .menu-container .menu-part .menu-part-content-card:nth-child(4) {
  opacity: 0;
  animation: fadeInShow ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.4s;
}
.menu .menu-container .menu-part .menu-part-content-card {
  opacity: 0;
}
.menu .menu-container .menu-part .menu-part-content-card:nth-child(5) {
  opacity: 0;
  animation: fadeInShow ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
}
.menu .menu-container .menu-part .menu-part-content-card {
  opacity: 0;
}
.menu .menu-container .menu-part .menu-part-content-card:nth-child(6) {
  opacity: 0;
  animation: fadeInShow ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.6s;
}
.menu .menu-container .menu-part .menu-part-content-card {
  opacity: 0;
}
.menu .menu-container .menu-part .menu-part-content-card:nth-child(7) {
  opacity: 0;
  animation: fadeInShow ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.7s;
}
.menu .menu-container .menu-part .menu-part-content-card {
  opacity: 0;
}
.menu .menu-container .menu-part .menu-part-content-card:nth-child(8) {
  opacity: 0;
  animation: fadeInShow ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
}
.menu .menu-container .menu-part .menu-part-content-card {
  opacity: 0;
}
.menu .menu-container .menu-part .menu-part-content-card:nth-child(9) {
  opacity: 0;
  animation: fadeInShow ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 0.9s;
}
.menu .menu-container .menu-part .menu-part-content-card {
  opacity: 0;
}
.menu .menu-container .menu-part .menu-part-content-card:nth-child(10) {
  opacity: 0;
  animation: fadeInShow ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 1s;
}
.menu .menu-container .menu-part .menu-part-content-card {
  opacity: 0;
}
.menu .menu-container .menu-part .menu-part-content-card:nth-child(11) {
  opacity: 0;
  animation: fadeInShow ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-delay: 1.1s;
}
.menu .menu-container .menu-part .menu-part-content-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-align: left;
  background-color: white;
  border-radius: 15px;
  border: none;
  padding: 0;
  height: 68px;
  width: 300px;
  max-width: 300%;
  margin-top: 16px;
}
.menu .menu-container .menu-part .menu-part-content-card:hover {
  overflow: hidden;
}
.menu .menu-container .menu-part .menu-part-content-card:hover .menu-part-content-card-body {
  transition: width 300ms;
  width: 75%;
  animation: cardWidth 320ms ease-in-out normal;
  animation-fill-mode: both;
}
.menu .menu-container .menu-part .menu-part-content-card:hover .menu-part-content-card-button {
  transition: width 300ms;
  width: 60px;
  animation: rightAnimation 320ms ease-in-out normal;
  animation-fill-mode: both;
  overflow: hidden;
}
.menu .menu-container .menu-part .menu-part-content-card:hover .menu-part-content-card-button .check-circle {
  animation: spinner 420ms ease-in-out normal;
  animation-fill-mode: both;
}
.menu .menu-container .menu-part .menu-part-content-card .menu-part-content-card-body {
  margin: 16px 8px 16px 16px;
  width: 100%;
  transition: width 300ms;
}
.menu .menu-container .menu-part .menu-part-content-card .menu-part-content-card-body .menu-part-content-card-body-title {
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}
.menu .menu-container .menu-part .menu-part-content-card .menu-part-content-card-body .menu-part-content-card-body-description {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.menu .menu-container .menu-part .menu-part-content-card .menu-part-content-card-body .menu-part-content-card-body-description .menu-part-content-card-body-description-text {
  font-size: 18px;
  margin: 0 4px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}
.menu .menu-container .menu-part .menu-part-content-card .menu-part-content-card-body .menu-part-content-card-body-description .menu-part-content-card-body-description-price {
  font-weight: bold;
  margin-right: 8px;
}
.menu .menu-container .menu-part .menu-part-content-card .menu-part-content-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  height: 100%;
  width: 0;
  transform-origin: right 50%;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  transition: width 300ms;
}
.menu .menu-container .menu-part .menu-part-content-card .menu-part-content-card-button .check-circle {
  font-size: 20px;
  color: white;
}
.menu .menu-container .command-button {
  display: inline-block;
  color: white;
  background: linear-gradient(0.5turn, #ff79da, #9356dc);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
  margin: 16px 0;
  padding: 14px 48px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  filter: contrast(100%);
  transition: filter 0.2s;
}
.menu .menu-container .command-button:hover {
  transition: filter 0.2s;
  filter: contrast(150%);
}

@keyframes fadeInShow {
  0% {
    transform: translate(0, 5%);
    opacity: 0;
  }
  50% {
    transform: translate(0, 2.5%);
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes rightAnimation {
  0% {
    transform: translate(60px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
@keyframes cardWidth {
  0% {
    width: 100%;
  }
  100% {
    width: 75%;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) {
  .functioning-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: dense;
    gap: auto;
  }
  .functioning-cards .functioning-card {
    max-width: 312px;
    margin: 0 auto;
  }

  .restaurants-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: dense;
    gap: auto;
  }
  .restaurants-cards .restaurants-card {
    margin: 0 auto;
    max-width: 356px;
  }

  .menu .menu-container {
    margin: 0 auto;
  }
  .menu .menu-container .menu-parts {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: dense;
  }
  .menu .menu-container .menu-parts .menu-part {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .functioning-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .menu .menu-container {
    margin: 0 auto;
  }
  .menu .menu-container .menu-parts {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .header .header-navigation {
    max-width: 1200px;
    box-shadow: none;
  }
  .header .header-brand .header-brand-title {
    width: 100%;
  }
  .header .header-brand .header-brand-body {
    width: 100%;
  }

  .functioning .functioning-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  .functioning .functioning-cards {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  .restaurants .restaurants-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  .restaurants .restaurants-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  .restaurants .restaurants-cards .restaurants-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 356px;
  }

  .footer .footer-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  .footer .footer-links {
    display: grid;
    flex-direction: column;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  .menu .menu-container {
    max-width: 1200px;
  }
}

/*# sourceMappingURL=style.css.map */
